#!/usr/bin/env bash
set -euo pipefail

exec /usr/bin/qemu-system-x86_64 \
  -name {{ item.name }} \
  -enable-kvm \
  -machine q35,accel=kvm \
  -cpu host \
  -smp {{ item.vcpu | default(mylab_default_vcpu) }} \
  -m {{ item.memory_mb | default(mylab_default_memory_mb) }} \
  -nographic \
  -serial file:{{ mylab_logs_dir }}/{{ item.name }}.console.log \
  -drive if=virtio,format=qcow2,file={{ mylab_disks_dir }}/{{ item.name }}.qcow2 \
  -drive if=virtio,format=raw,file={{ mylab_seed_dir }}/{{ item.name }}.iso,media=cdrom,readonly=on \
{% for nic in item.networks %}
  -netdev bridge,id=net{{ loop.index0 }},br={{ nic.bridge }} \
  -device virtio-net-pci,netdev=net{{ loop.index0 }},mac={{ nic.mac }} \
{% endfor %}
  -pidfile {{ mylab_runtime_dir }}/{{ item.name }}/{{ item.name }}.pid
