Port 22
Protocol 2
PermitRootLogin {{ 'no' if mylab_disable_root_ssh else 'prohibit-password' }}
PasswordAuthentication {{ 'no' if mylab_disable_password_auth else 'yes' }}
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
AllowTcpForwarding {{ 'yes' if (mylab_ssh_allow_tcp_forwarding | default(false)) else 'no' }}
AllowAgentForwarding {{ 'yes' if (mylab_ssh_allow_agent_forwarding | default(false)) else 'no' }}
PermitTunnel no
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 20
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AllowGroups sudo {{ mylab_admin_group }}
Subsystem sftp /usr/lib/openssh/sftp-server
