frr version 8.4
frr defaults traditional
hostname {{ inventory_hostname }}
service integrated-vtysh-config
log syslog informational

interface lo
 ip address {{ router_id }}/32

router ospf
 ospf router-id {{ router_id }}
 network {{ mgmt_ip }}/24 area 0
 network {{ infra_ip }}/24 area 0
{% if router_dc == 'dc1' %}
 network 10.10.20.0/24 area 0
{% elif router_dc == 'dc2' %}
 network 10.20.20.0/24 area 0
{% endif %}

{% if mylab_inter_dc_enable_bgp %}
router bgp {{ mylab_bgp_asn_dc1 if router_dc == 'dc1' else mylab_bgp_asn_dc2 }}
 bgp router-id {{ router_id }}
 no bgp ebgp-requires-policy
 neighbor {{ mylab_bgp_rr_loopback_dc2 if router_dc == 'dc1' else mylab_bgp_rr_loopback_dc1 }} remote-as {{ mylab_bgp_asn_dc2 if router_dc == 'dc1' else mylab_bgp_asn_dc1 }}
 neighbor {{ mylab_bgp_rr_loopback_dc2 if router_dc == 'dc1' else mylab_bgp_rr_loopback_dc1 }} update-source lo
 !
 address-family ipv4 unicast
  network {{ router_id }}/32
  network {{ infra_ip }}/24
{% if router_dc == 'dc1' %}
  network 10.10.20.0/24
{% elif router_dc == 'dc2' %}
  network 10.20.20.0/24
{% endif %}
  neighbor {{ mylab_bgp_rr_loopback_dc2 if router_dc == 'dc1' else mylab_bgp_rr_loopback_dc1 }} activate
 exit-address-family
{% endif %}