table ip mylab_nat {
  chain postrouting {
    type nat hook postrouting priority srcnat;
    policy accept;
{% for src in mylab_nat_allowed_sources %}
    ip saddr {{ src }} oifname "{{ nat_outside_interface }}" masquerade
{% endfor %}
  }

  chain forward {
    type filter hook forward priority 0;
    policy accept;
  }
}