[defaults]
inventory = inventories/lab-prod/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles
stdout_callback = yaml
retry_files_enabled = False
remote_user = ops
forks = 20

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes