[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
collections_paths = collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks, timer
interpreter_python = auto_silent
forks = 20
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400
remote_tmp = /tmp/.ansible-${USER}/tmp
nocows = True

[inventory]
enable_plugins = yaml, ini, host_list

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o PreferredAuthentications=publickey
scp_if_ssh = smart
retries = 3

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
