Include /etc/ssh/sshd_config.d/*.conf

Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0

PermitRootLogin {{ 'no' if mylab_disable_root_ssh else 'prohibit-password' }}
PasswordAuthentication {{ 'no' if mylab_disable_password_auth else 'yes' }}
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
UsePAM yes

PermitEmptyPasswords no
MaxAuthTries 3
LoginGraceTime 30
MaxSessions 10
ClientAliveInterval 300
ClientAliveCountMax 2

AllowAgentForwarding {{ hostvars[inventory_hostname].allow_agent_forwarding | default(mylab_allow_agent_forwarding) }}
AllowTcpForwarding {{ hostvars[inventory_hostname].allow_tcp_forwarding | default(mylab_allow_tcp_forwarding) }}
X11Forwarding {{ mylab_x11_forwarding }}
PermitTunnel {{ mylab_permit_tunnel }}
AllowGroups {{ mylab_admin_group }}

PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
Compression no
PermitUserEnvironment no

Subsystem sftp /usr/lib/openssh/sftp-server