[Journal]
Storage={{ journald_storage }}
Compress={{ journald_compress }}
Seal={{ journald_seal }}
SystemMaxUse={{ mylab_journald_system_max_use }}
RuntimeMaxUse={{ mylab_journald_runtime_max_use }}
ForwardToSyslog={{ journald_forward_to_syslog }}