frr version 8.4
frr defaults traditional
hostname {{ inventory_hostname }}
service integrated-vtysh-config
log syslog informational

ip forwarding

interface lo
 ip address {{ loopback_ip }}
!
{% for iface in transit_interfaces %}
interface {{ iface.name }}
 ip address {{ iface.ip }}
!
{% endfor %}

router ospf
 ospf router-id {{ frr_router_id }}
 passive-interface lo
{% for iface in transit_interfaces %}
 network {{ iface.ip.split('/')[0] }}/32 area 0
{% endfor %}
!

router bgp 65000
 bgp router-id {{ frr_router_id }}
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
{% for iface in transit_interfaces %}
 neighbor {{ iface.ip.split('/')[0] }} interface peer-group FABRIC
{% endfor %}
 address-family ipv4 unicast
  network {{ loopback_ip.split('/')[0] }}/32
 exit-address-family
!